#idpl_vote {
  display:none;
}

a.idpl_button {
  display:block;
  width:70%;
  padding:5%;
  background:#73c4b2;
  color: white !important;
  margin:0px auto;
  font-size:1.3em;
}
#idpl_form {
  width:70%;
  margin:0px auto;
  background-color:#fef9e9;
  padding:5%;
}
#idpl_form input[type=text] {
  width:100%;
}
#idpl_form textarea {
  width:100%; height:5em;
}

.listdrop {
  float:right;
}

.back {
  float:right;
}

#idpl_contact p {
  float:right;
  width:25%;
  margin:4%;
  vertical-align:central;
}
#idpl_contact p * {
  padding:4px;
}

#idpl_comments {
  list-style-type:none;
}
#idpl_comment {
  background-color:#fef9e9;
  width:60%;
  padding:5%;
}
#idpl_comment input, #idpl_comment textarea {
  width:90%;
}
#idpl_idea_list {
  list-style-type: none;
}